[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"
autopep8 = "*"
pylint = "*"
pytest-cov = "*"
pytest-flask = "*"

[packages]
lyricwikia = "*"
requests = "*"
flask = "*"
gunicorn = "*"
tweepy = "*"
peewee = "*"
psycopg2-binary = "*"
schedule = "*"
flask-injector = "*"
pytest-vcr = "*"
azapi = "*"
azlyrics = "*"

[requires]
python_version = "3.8"

[scripts]
mixlyrics_two_artists = "python scripts/mixlyrics_two_artists.py"
mixlyrics_parse_free_text = "python scripts/mixlyrics_parse_free_text.py"
