[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"
autopep8 = "*"

[packages]
lyricwikia = "*"
requests = "*"
flask = "*"
gunicorn = "*"
tweepy = "*"

[requires]
python_version = "3.7"

[scripts]
mixlyrics_two_artists = "python scripts/mixlyrics_two_artists.py"
mixlyrics_parse_free_text = "python scripts/mixlyrics_parse_free_text.py"
